<div class="navbar">
  <h1 class="navbar-head">Courses</h1>
  <div class="navbar-searchbox">
    <input
      class="navbar-searchfield"
      type="text"
      [(ngModel)]="searchField"
      placeholder="Course name or start and end time"
    />
    <button class="button-30" (click)="search()">Search</button>
  </div>
  <div class="navbar-userbtns">
    <button class="button-30" [routerLink]="['/profile']">My profile</button>
    <button class="button-30" (click)="logout()">Logout</button>
  </div>
</div>
